name: create new branch

on:
  push:
    branches: [ develop ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout marge branch
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Create new Branch
        id: create_branch
        env:
          TZ: 'Asia/Tokyo'
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo `git branch -l`
          git checkout master
          echo "現在のブランチは："
          echo `git branch --contains`
          DATE=`date +"%Y%m%d_%H%M"`
          BRANCH_NAME="new-branch-$DATE"
          git checkout -b "$BRANCH_NAME"
          git push origin "$BRANCH_NAME"
          echo ::set-output name=branch_name::$BRANCH_NAME
        
      - name: Create Pull Request
        id: create_pull_request
        env:
          REVIEWERS: "yamadakotaro518"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH_NAME: ${{ steps.create_branch.outputs.branch_name }}
        run: |
          RES=`git branch`
          echo $RES
          echo hogehoge

          # for BRANCH_FOR_PULL_REQUEST in `git branch | grep "master"`; do
          #   echo "$BRANCH_FOR_PULL_REQUEST"
          #   RESULT=`hub pull-request -b $BRANCH_FOR_PULL_REQUEST -h $BRANCH_NAME -r $REVIEWERS -F-<<<"
          #   developブランチ取り込み作業

          #   確認です。
          #   "`
          #   echo ::set-output name=url::$RESULT
          # done

      # メッセージを作成する
      - name: create message
        id: create_message
        env:
          BRANCH_NAME: ${{ steps.create_branch.outputs.branch_name }}
          URL: ${{ steps.create_pull_request.outputs.url }}
        run: |
          MESSAGE="$BRANCH_NAME ブランチを作成してプルリクを出しました $URL"
          echo ::set-output name=message::$MESSAGE

      - name: Post to slack
        uses: novoda/github-slack-action@master
        with:
          color: good
          text: ${{ steps.create_message.outputs.message }}
          webhook: ${{ secrets.SLACK_WEBHOOK }}