name: create new branch

on:
  push:
    branches: [ develop ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout marge branch
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Create Pull Request
        id: create_pull_request
        env:
          TZ: 'Asia/Tokyo'
          REVIEWERS: "yamadakotaro518"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH_NAME: ${{ steps.create_branch.outputs.branch_name }}
        run: |
          for BRANCH_FOR_PULL_REQUEST in `git branch -r | grep "kakunin"`; do

            # マージ用ブランチを作成
            DATE=`date +"%Y%m%d_%H%M"`
            BRANCH_NAME="new-branch-$DATE"
            git checkout -b "$BRANCH_NAME"
            git push origin "$BRANCH_NAME"
            
            # プルリクエスト作成
            RESULTS+=(`hub pull-request -b ${BRANCH_FOR_PULL_REQUEST#origin/} -h $BRANCH_NAME -r $REVIEWERS -F-<<<"
            developブランチ取り込み作業

            確認です。
            "`)
            echo ::set-output name=urls::${RESULTS[@]}
          done

      # メッセージを作成する
      - name: create message
        id: create_message
        env:
          BRANCH_NAME: ${{ steps.create_branch.outputs.branch_name }}
          URLS: ${{ steps.create_pull_request.outputs.urls }}
        run: |
          echo ${URLS[@]}
          MESSAGE="$BRANCH_NAME ブランチを作成してプルリクを出しました ${URLS[@]}"
          echo ::set-output name=message::$MESSAGE

      - name: Post to slack
        uses: novoda/github-slack-action@master
        with:
          color: good
          text: ${{ steps.create_message.outputs.message }}
          webhook: ${{ secrets.SLACK_WEBHOOK }}