name: create new branch

on:
  pull_request:
    branches: [ develop ]
    types: [ closed ]
    paths:
      - 'docs/*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout marge branch
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      # メッセージを作成する
      - name: create message
        id: create_message
        env:
          USER: ${{ github.event.pull_request.user.login }}
          PR_URL: ${{ github.event.pull_request.html_url }}
          PR_TITLE: ${{ github.event.pull_request.title }}
        if: ${{ github.event.pull_request.merged == true }}
        run: |
          for DOCUMENT_FILE_PATH in `git diff HEAD^..HEAD --name-only`; do
            FILE_NAME=`head -n 1 ${DOCUMENT_FILE_PATH}`
            if [ ${FILE_NAME:0:1} = "#" ]; then
              DOCUMENT_FILE_BASENAME=${DOCUMENT_FILE_PATH##*/}
              DOCUMENT_URL="https://presus-docs.s3-ap-northeast-1.amazonaws.com/guideline/docs/${DOCUMENT_FILE_BASENAME//md/html}"
              LINKS+=("<${DOCUMENT_URL}|${FILE_NAME//# /}> \n")
            fi
          done

          MESSAGE="<@USA44RXT7> \n  
          ${USER} さんがPRをマージしました。ご確認ください。 \n
          <${PR_URL}|${PR_TITLE}> \n
          変更されたファイルは以下です。\n
          ${LINKS[@]}\n
          "
          echo ::set-output name=message::$MESSAGE

      # slackに通知
      - name: Post to slack
        uses: novoda/github-slack-action@master
        env:
          MESSAGE: ${{ steps.create_message.outputs.message }}
        with:
          text: ${{ steps.create_message.outputs.message }}
          webhook: ${{ secrets.SLACK_WEBHOOK }}